<!doctype html>
<html>

<head>
    {% load static %}
    <title>Face API</title>
    <link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel=stylesheet href=https://cdn.jsdelivr.net/npm/pretty-print-json@1.0/dist/pretty-print-json.css>
    <link rel="stylesheet" href="{% static 'face_API/css/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'face_API/favicon.ico' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">

</head>

<body>
    <div class="page-wrapper chiller-theme toggled">

        <a id="show-sidebar" class="btn btn-sm btn-primary" href="#">
            <i class="fas fa-bars"></i>
            <nav id="sidebar" class="sidebar-wrapper">
                <div class="sidebar-content">
                    <div class="sidebar-brand">
                        <a href="#">FACE API</a>
                        <div id="close-sidebar">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                    <div class="sidebar-header" hidden>
                        <div class="user-pic">
                            <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="User picture">
                        </div>
                        <div class="user-info">
                            <span class="user-name">Jhon
                <strong>Smith</strong>
              </span>
                            <span class="user-role">Administrator</span>
                            <span class="user-status">
                <i class="fa fa-circle"></i>
                <span>Online</span>
                            </span>
                        </div>
                    </div>
                    <!-- sidebar-header  -->
                    <!-- <div class="sidebar-search">
                        <div>
                            <div class="input-group">
                                <input type="text" class="form-control search-menu" placeholder="Search...">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- sidebar-search  -->
                    <div class="sidebar-menu">
                        <ul>
                            <li class="header-menu">
                                <span>API</span>
                            </li>
                            <li>
                                <a href="#" onclick="document.getElementById('fileInput').click()">
                                    <i class="fa fa-upload"></i>
                                    <span>Upload Image</span>
                                    <input type="file" id="fileInput" name="file" style="display: none;">

                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="detectFaces()">
                                    <i class="fa fa-users"></i>
                                    <span>Detect Faces</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="detectEmotions()">
                                    <i class="fa fa-smile"></i>
                                    <span>Detect Emotions</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="detectMask()">
                                    <i class="fas fa-head-side-mask"></i>
                                    <span>Detect Masks</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="">
                                    <i class="fas fa-address-card"></i>
                                    <span>Detect Attributes</span>
                                </a>
                            </li>
                            <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="fas fa-user-check"></i>
                                    <span>Verify two faces</span>
                                </a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li>
                                            <a href="#" onclick="document.getElementById('fileInput2').click()">

                                                <span>Upload second Image</span>
                                                <input type="file" id="fileInput2" name="file2" style="display: none;"></a>
                                        </li>
                                        <li>
                                            <a href="#" onclick="VerifyFaces()">

                                                <span>Verify</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="header-menu">
                                <span>Extra</span>
                            </li>
                            <li>
                                <a href="#" target="popup" onclick="window.open('OpenCamera','popup','width=640,height=480,left=400,top=400');return false;">
                                    <i class="fas fa-video"></i>
                                    <span>WebCam</span>
                                    <span class="badge badge-pill badge-primary">Beta</span>

                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/Anis-Bouaziz/Face-API-Django" target="_blank">
                                    <i class="fa fa-book"></i>
                                    <span>Documentation</span>

                                </a>
                            </li>
                            <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="fa fa-folder"></i>
                                    <span>Examples</span>
                                </a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li style="margin-bottom:10px;">
                                            <img src="{% static 'face_API/img/1.jpg' %}" style="width:100px; cursor:pointer;" onclick="document.getElementById('canvasOutput').src=this.src;document.getElementById('imgsource1').src=this.src">
                                        </li>
                                        <li style="margin-bottom:10px;">
                                            <img src="{% static 'face_API/img/2.jpg' %}" style="width:100px;cursor:pointer;" onclick="document.getElementById('canvasOutput').src=this.src;document.getElementById('imgsource1').src=this.src">
                                        </li>

                                        <li>
                                            <img src="{% static 'face_API/img/3.jpg' %}" style="width:100px;cursor:pointer;" onclick="document.getElementById('canvasOutput').src=this.src;document.getElementById('imgsource1').src=this.src">
                                        </li>


                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- sidebar-menu  -->
                </div>
                <!-- sidebar-content  -->
                <div class="sidebar-footer">
                    <a href="#">
                        <i class="fas fa-sign-in-alt"></i>
                        <span>Sign in</span>
                    </a>
                    <a href="#">
                        <i class="fas fa-user-plus"></i>
                        <span>Sign up</span>
                    </a>
                </div>
            </nav>
            <div style=" justify-content: center; align-items: center; ">

                <h1>Face API Demo</h1>

            </div>


            <!-- <div style=" display: flex; justify-content: center; align-items: center;" id="pic">



                <div id="verification" hidden>
                    <input type="file" id="fileInput2" name="file2">
                    <button class="btn btn-outline-warning mr-2" onclick="VerifyFaces()">Verify faces</button>
                </div>

                <button class="btn btn-outline-success mr-2" onclick="detectFaces()">Detect faces</button>
                <button class="btn btn-outline-success mr-2" onclick="detectEmotions()">Detect emotions</button>
                <button class="btn btn-outline-success mr-2" onclick="detectMask()">Detect Mask</button>
                <button class="btn btn-outline-success mr-2" onclick="">Detect Attributes</button>
                <div class="btn btn-outline-success mr-2 disabled " style="opacity: 1;padding: inherit; ">

                    <span style="margin :1em ;"> Face Verification</span> <input style="height:10px ;" type="checkbox" name="verif" data-toggle="toggle" data-onstyle="success" onchange="document.getElementById('verification').hidden=!(document.getElementById('verification').hidden);document.getElementById('verifImg').hidden=!(document.getElementById('verifImg').hidden)">
                </div>

            </div> -->
            <hr style="background-color: white;">

            <div>
                <div style="display:flex ;flex-wrap: wrap; align-items:flex-start; align-content:flex-start; gap: 50px;" id="b">

                    <img id="canvasOutput" src="" style="width:600px;">
                    <img id="imgsource1" hidden>
                    <img id="verifImg" src="" style="max-width:600px;">
                    <img id="imgsource2" hidden>
                    <pre id="pre" style="height: 500px;;width:40%; overflow: auto; background-color: white; padding: 10px;" hidden><code  id="code" ></code></pre>



                </div>

            </div>



            <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
            <script src=https://cdn.jsdelivr.net/npm/pretty-print-json@1.0/dist/pretty-print-json.min.js></script>
            <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
            <script src="{% static 'face_API/js/ajax.js' %}"></script>
    </div>
</body>


</html>